* {
    font-family: monospace;
}

text {
    font-size: 13.5px;
}

#title {
    font-size: 36px;
}

#subtitle {
    font-size: 14px;
}

#title, #subtitle, #description {
    display: flex;
    justify-content: center;
}


.overlay {
    fill: none;
}

.y-axis {
    display: block;
    position: relative;
    left: 30px;
}

